*{
    font-family: "IRANSansDN";
}

body{
    background: #f0f0f0;
}

.navbar{
    padding: 15px 0px;
}

.btn-login{
    border: 1px solid #ebebeb;
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;
}

.btn-login::before{
    content: "";
    background: url("/public/Asset/icon/exit.png");
    width: 15px;
    height: 15px;
    margin: 0px 0px -3px 5px;
    fill: #414141;
    display: inline-block;
    background-size: cover;
}

.form-control-search{
    position: relative;
    border: none;
    outline: none;
    background: #eee;
    width: 60%;
    padding: 10px 40px;
    border-radius: 8px !important;
}

.fa-magnifying-glass{
    position: absolute;
    top: 0;
    right: 0;
    color: #9f9f9f;
    padding: 13px 15px;
}

.btn-shopping{
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    background: none;
    margin-right: 10px;
    color: #6a6a6a;
    font-size: 18px;
}

.shopping-counter{
    position: absolute;
    top: -6px;
    right: -15px;
    color: #eee;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #d40d0d;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.popular-item-main{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.popular-item-second{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 100%;
}

.popular-item-third{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.btn{
    font-size: 13px;
}

.service-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

@media only screen and (max-width: 869px) {
    .popular{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }

    .popular-item-main{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .popular-item-second{    
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    
    .popular-item-third{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    .caption-title{
        font-size: 18px !important;
    }

    .btn{
        font-size: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .popular{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .popular-item-main{
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
    
    .popular-item-second{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
    
    .popular-item-third{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        flex-direction: column-reverse;
    }
}