*{
    font-family: "IRANSansDN";
}

body{
    background: #f0f0f0;
}

a{
    text-decoration: none;
}

.navbar{
    padding: 15px 0px;
}

.btn-login{
    border: 1px solid #ebebeb;
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;
}

.btn-login::before{
    content: "";
    background: url("/public/Asset/icon/exit.png");
    width: 15px;
    height: 15px;
    margin: 0px 0px -3px 5px;
    fill: #414141;
    display: inline-block;
    background-size: cover;
}

.form-control-search{
    position: relative;
    border: none;
    outline: none;
    background: #eee;
    width: 60%;
    padding: 10px 40px;
    border-radius: 8px !important;
}

.fa-magnifying-glass{
    position: absolute;
    top: 0;
    right: 0;
    color: #9f9f9f;
    padding: 13px 15px;
}

.btn-shopping{
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    background: none;
    margin-right: 10px;
    color: #6a6a6a;
    font-size: 18px;
}

.shopping-counter{
    position: absolute;
    top: -6px;
    right: -15px;
    color: #eee;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #d40d0d;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.banner-item-main{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.banner-item-second{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 100%;
}

.banner-item-third{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.service-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    height: 100%;
    transition-property: transform;
    z-index: 1;
}
  
.controls-button{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.prev-button,
.next-button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0092ed;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.swiper-button-disabled {
    background-color: #848484;
    cursor: not-allowed;
}
  
.prev-button {
    left: 12px;
}
  
.next-button {
    right: 12px;
}

polyline{
    stroke: #fff;
}

.ratings-list{
    list-style: none;
    display: flex;
    padding: 0;
}

.ratings-list {
    display: flex;
    align-items: center;
}
.ratings-list .ratings-list-item svg {
    stroke: ed4b00;
}
.ratings-list .ratings-list-item:not(:first-child) {
    margin-left: 2px;
}
.ratings-list.rating-1 li:nth-child(1) svg {
    fill: #ed4b00;
    stroke: #ed4b00;
}
.ratings-list.rating-2 li:nth-child(1) svg,
.ratings-list.rating-2 li:nth-child(2) svg {
    fill: #ed4b00;
    stroke: #ed4b00;
}
.ratings-list.rating-3 li:nth-child(1) svg, 
.ratings-list.rating-3 li:nth-child(2) svg, 
.ratings-list.rating-3 li:nth-child(3) svg {
    fill: #ed4b00;
    stroke: #ed4b00;
}
.ratings-list.rating-4 li:nth-child(1) svg, 
.ratings-list.rating-4 li:nth-child(2) svg, 
.ratings-list.rating-4 li:nth-child(3) svg, 
.ratings-list.rating-4 li:nth-child(4) svg {
    fill: #ed4b00;
    stroke: #ed4b00;
}
.ratings-list.rating-5 li:nth-child(1) svg, 
.ratings-list.rating-5 li:nth-child(2) svg, 
.ratings-list.rating-5 li:nth-child(3) svg, 
.ratings-list.rating-5 li:nth-child(4) svg, 
.ratings-list.rating-5 li:nth-child(5) svg {
    fill: #ed4b00;
    stroke: #ed4b00;
}

.popular{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.popular-item-main{
    grid-column: 1 / 3;
    grid-row: 1 / 3;

}

.popular-item-second{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 100%;
}

.popular-item-third{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.form-control{
    direction: rtl;
}

.slide{
    display: none;
}

.slide.active {
    display: block;
}

.slide-dot{
    cursor: pointer;
}

.color{
    width: 21px;
    height: 21px;
    box-shadow: 0px 2px 15px 0px #22292f2e;
    border-radius: 1000px;
    cursor: pointer;
}

.bg-black {
    background: #3d3d3d;
}

.bg-green {
    background: #07ac02;
}

.bg-blue {
    background: #005be4;
}

.bg-skyblue{
    background: #55b1d5;
}

.bg-yellow {
    background: #fff314;
}

.bg-red{
    background: #d20000;
}

.bg-pink{
    background: #ea8eff;
}

.bg-gold{
    background: #ffd900;
}

.bg-silver{
    background: #cdcdcd;
}

.bg-gray{
    background: #646464;
}

.bg-rose-gold{
    background: #B76E79;
}

@media only screen and (max-width: 869px) {
    .banner{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }

    .banner-item-main{
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .banner-item-second{    
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    
    .banner-item-third{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    
    .caption-title{
        font-size: 18px !important;
    }

    .btn{
        font-size: 10px;
    }

    .popular{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }
    
    .popular-item-main{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    
    .popular-item-second{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    
    .popular-item-third{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@media only screen and (max-width: 576px) {
    .banner{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    .banner-item-main{
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
    
    .banner-item-second{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
    
    .banner-item-third{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        flex-direction: column-reverse;
    }

    .popular{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }
    
    .popular-item-main{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        flex-direction: column-reverse;
    }
    
    .popular-item-second{
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
    
    .popular-item-third{
        grid-column: 1 / 4;
        grid-row: 4 / 4;
    }
}